<div class="container">

	<div class="row">
		<div class="col-sm-12">
			<div class="page-header">
				<h2>Choose a Specialty</h2>
			</div>
		</div>
	</div>
	
	<div class="row row-content">
		
		<div class="col-xs-12" ng-if="!existSpecialties">
			<p>Currently there are no specialties.</p>
		</div>
		
		<div class="col-sm-6 col-md-4" ng-if="showSpecialties" ng-repeat="specialty in specialties">
			<div class="thumbnail hover-gray">
				<a ui-sref="specialties.doctors({id:specialty.id})">
					<img class="img-responsive" ng-src={{specialty.image}} alt="{{specialty.name}}">
					<div class="caption text-center">
						<h4 class="text-capitalize">{{specialty.name}}</h4>
					</div>
				</a>
			</div>
		</div>
		
		<div class="col-xs-12" ng-if="!showSpecialties">
            <p>Oops! there's an error: {{message.code}} {{message.text}}</p>
        </div>
		
	</div>
	
</div>