<div class="container">

	<div class="row">
		<div class="col-sm-12">
			<h2 class="m-b-5">Get a Number</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6 col-md-4" ng-repeat="specialty in specialties">
			<div class="thumbnail hover-gray">
				<a href="">
					<img class="img-responsive" ng-src={{specialty.image}} alt="{{specialty.name}}">
					<div class="caption text-center">
						<h4 class="text-capitalize">{{specialty.name}}</h4>
					</div>
				</a>
			</div>
		</div>
	</div>
	
</div>